/*-- alwayssunny stylesheet
* Madeline Masi, 2016
--*/
/*-- Color Scheme --/
* yellow: F2CE1B
* tan: BF8924
* gray: 393C3D
* dkgray: 2A2C2B
* black: 000000
* mustard: D9C14A
* gray-active: 374140
* light-color: F2E7AC
--*/
/*-- General Styles --*/
body {
  font-family: 'Arvo',  serif;
  font-weight: 300;
  font-size: 18px;
  margin:0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 16px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;rem;
}
h1.site-title {
  font-size: 52px;
  color: #F2CE1B;
}
p:last-child {
  padding-bottom: 12px;
}
header {
  padding: 0 18%;
  text-align: center;
  padding-bottom: 28px
}
section {
  margin: 0;
  padding: 40px 18%;
  text-align: center;
}
section p, header ul {
  margin: 0 0;
}
section h1, section h2, header h1 {
  margin: 0 0;
}
section ul {
  margin: 0 0;
}
section img {/*-- Makes section images responsive --*/
  width: 100%;
  height: auto;
}
footer p {
  margin: 0 0;
  padding-top: 12px;
  text-align: center;
}
/*-- Link Styles --*/
a:link {
  color:#374140;
  font-weight: 400;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #BF8924;
}
a:active {
  background-color: #374140;
  color: #2A2C2B;
}
/*-- Nav Styles --*/
.social-nav ul {
  list-style-type: none;
  margin-left: -40px;
}
.social-nav ul li {
  display: inline;
  padding-left: 20px;
  opacity: .75;
}
.social-nav ul li:hover {
  opacity: 1;
}
.social-nav ul li a img {
  width: 32px;
  height: auto;
}
.inline {
  display: inline;
}
img.inline {
  width: 30%;
  height: auto;
}
/*-- Section Styles --*/
header {
  background-color: #000000;
}
#intro {
  background-color: #D9C14A;
}
#intro p {
  font-size: 28px;
}
#gallery {
  background-color: #393C3D;
  color: #F2E7AC;
}
#resources {
  background-color: #D9C14A;
  color: #000000;
}
#resources ul {
  list-style-type: none;
}
#contact {
  background-color: #374140;
  color: #D9CB9E;
}
#gallery p {
  border-bottom: 2px solid #D9CB9E;
}
/*-- Footer Styles --*/
footer {
  background-color: #000000;
  color: #F2CE1B;
}
